This is a small section for screen shots on wayland utilizing grimshot, it uses super+shift+a w s to capture (a)selected area (w) active window & (s) screen

For the screen shot location for my machine, I end up hardcoding the directory like /media/user/tmpfs/screenshot-$(date +"%Y%m%d-%H%M%S").webp

(Optional: I also suggest using zram + add tmpfs to fstab to create a RAMDISK for screen shots to reduce disk wear) 

The image format can be swapped with jpg, png or webp (possibly more)

add the following section into your sway config, insert after layout section:


# Take screenshots:
    set $screenshot_out $(xdg-user-dir PICTURES)/screenshots/screenshot-$(date +"%Y%m%d-%H%M%S").webp
    bindsym $mod+Shift+s exec grimshot save screen $screenshot_out
    bindsym $mod+Shift+w exec grimshot save active $screenshot_out
    bindsym $mod+Shift+a exec grimshot save area $screenshot_out
