[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/bin/foot nano  ~/.config/sway/config
Name=sway config
Icon=/usr/share/icons/sway_logo.jxl
